<ion-view view-title="Exercises">
	<ion-nav-buttons side="secondary">
		<button class="button button-positive button-clear icon icon-right ion-ios-cloud-upload-outline" ng-click="save()"></button>
    </ion-nav-buttons>
	
 	<ion-content>

 		<ul class="list">
		    <li class="item">
		      {{day.name}}
		    </li>
		</ul>

		<ion-list can-swipe="true" delegate-handle="exercises" show-reorder="showReorder">
 			<ion-item ng-repeat="exercise in day.exercises" ng-click="gotoExercise({exercise : exercise, exercises : day.exercises})" class="item-icon-right">
 				<h2>
		    		{{exercise.name}}
			    </h2>
			    <p ng-if="exercise.sets.length == 0">Add some Sets</p>
			    <p ng-if="exercise.sets.length != 0">{{exercise.sets.length}} Sets</p>

			    <i class="button button-icon icon ion-chevron-left" style="opacity : 0.1;"></i>

			    <ion-option-button class="button-positive" ng-click="selectExercise(day)">
			      Select
			    </ion-option-button>
			    <ion-option-button class="button-assertive" ng-click="deleteExercise(day, exercise)">
			      Delete
			    </ion-option-button>
			    <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(day.exercises, $fromIndex, $toIndex)"></ion-reorder-button>
 			</ion-item>
 		</ion-list>

 		<div>
			<button class="button button-positive button-clear icon icon-right ion-plus-round" ng-click="selectExercise(day)"></button>
			<button class="button button-positive button-clear icon icon-right ion-shuffle" ng-click="showReorder = !showReorder"></button>
		</div>
 	</ion-content>

</ion-view>