<ion-view view-title="Sets">

    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="secondary">
        <button class="button button-clear icon icon-right" ng-click="save()" ng-class="(isPebble ? 'ion-android-watch' : 'ion-ios-cloud-upload-outline' )"></button>
    </ion-nav-buttons>

 	<ion-content>

 		<ul>
		    <li class="item item-calm">
		      {{exercise.name}}
		    </li>

		</ul>
        <div class="calm">
            <button class="button button-calm button-clear icon icon-right ion-plus-round" ng-click="showAddNew($event, exercise)"></button>
            <button class="button button-calm button-clear icon icon-right ion-shuffle" ng-click="showReorder = !showReorder"></button>
            <button class="button button-calm button-clear icon icon-right ion-help" ng-click="showHelp()"></button>
        </div>

		<ion-list can-swipe="true" delegate-handle="sets" show-reorder="showReorder">
 			<ion-item ng-repeat="set in exercise.sets" ng-click="gotoSet({set : set, sets : exercise.sets, exercise : exercise})" class="item-icon-right">
 				<h2 ng-if="set.repsOrTime == 'reps'">
          <span ng-if="set.isCircuit && !set.circuitExercise.name">Add an exercise in Set</span>
          <span ng-if="(!set.isCircuit) || (set.isCircuit && set.circuitExercise.name)">{{set.circuitExercise.name || set.circuitExercise}}</span>
          <span>{{set.reps}} reps</span>
          <span ng-if="set.wieght > 0"> X {{set.wieght}} {{set.units}}</span>
        </h2>
        <h2 ng-if="set.repsOrTime == 'time'">
          <span ng-if="set.isCircuit && !set.circuitExercise.name">Add an exercise in Set</span>
          <span ng-if="(!set.isCircuit) || (set.isCircuit && set.circuitExercise.name)">{{set.circuitExercise.name || set.circuitExercise}}</span>
          <span>{{renderTime(set.time, set.timeSecondsOrMinutes)}} {{set.timeSecondsOrMinutes}}</span>
          <span ng-if="set.wieght > 0"> @ {{set.wieght}} {{set.units}}</span>
        </h2>
        <p ng-if="set.rest">{{set.rest}} second rest</p>

        <i class="button button-icon icon ion-chevron-left" style="opacity : 0.1;"></i>

        <ion-option-button class="button-positive" ng-click="cloneSet(exercise, set)">
          Copy
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteSet(exercise, set)">
          Delete
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(exercise.sets, $fromIndex, $toIndex)"></ion-reorder-button>
 			</ion-item>
 		</ion-list>

 	</ion-content>

</ion-view>
