<ion-view view-title="Getting Started with Jim" hide-back-button="true" class="stable">

    <ion-nav-bar class="bar-balanced">
    </ion-nav-bar>

 	<ion-content>

        <div class="list card">
            <div class="item item-divider item-calm">
                This is Jim
            </div>
            <div class="item item-text-wrap item-light">
                <p>Jim is your workout companion, a <b>personal trainer on your wrist</b>.</p>
                <p>Using your phone or any web browser, you can <b>set yourself up a workout plan</b>, and have Jim keep you on track</p>
                <p>Over time <b>Jim will help you push yourself</b> to a fitter you!</p>
                <p>Go to https://tinyurl.com/zpj7fpq in any browser to access this site</p>
            </div>
        </div>

        <div class="list card" ng-hide="showLogin">
            <div class="item item-divider item-calm">
                Checking in with Jim
            </div>
        </div>

        <div ng-show="showLogin">
            <div class="list card">
                <div class="item item-divider item-calm">
                    Jim needs you to sign in
                </div>
                <div class="item item-text-wrap item-light">
                    <p>To work with Jim <b>you will need to sign in</b>.<p>
                    <p>Doing so will allow Jim to <b>save your workout plans</b> and logs.</p>
                    <p>Jim will not share your information with anyone.</p>
                </div>
                <a class="item item-icon-left item-light" href="#" ng-click="loginGoogle()">
                    <i class="icon ion-social-googleplus-outline assertive"></i>
                    Sign in with Google
                </a>
                <a class="item item-icon-left item-light" href="#" ng-click="loginFacebook()">
                    <i class="icon ion-social-facebook positive"></i>
                    Sign in with Facebook
                </a>
                <a class="item item-icon-left item-light" href="#" ng-click="showSignInWithEmail()">
                    <i class="icon ion-ios-email-outline balanced"></i>
                    Sign in with Email
                </a>
            </div>
        </div>

 	</ion-content>

</ion-view>
