 <ion-view view-title="Logs">

     <ion-nav-bar class="bar-balanced">
         <ion-nav-back-button></ion-nav-back-button>
     </ion-nav-bar>

   <ion-nav-buttons>
     <!--<button class="button button-clear icon icon-right ion-ios-close-outline" ng-click="signout()"></button>-->
   </ion-nav-buttons>


   <ion-nav-buttons side="secondary">
		<!--<button class="button button-clear icon icon-right ion-ios-cloud-upload-outline" ng-click="save()"></button>-->
  </ion-nav-buttons>

 	<ion-content>

        <div class="calm">
            <button class="button button-calm button-clear icon icon-right ion-help" ng-click="showHelp()"></button>
        </div>

        <div class="list card" ng-if="data.fbLogsLoaded && !data.logCount">
            <div class="item item-thumbnail-left item-text-wrap">
                <img src="images/avatar.jpg">
                <h2>Come on? No logs yet!</h2>
                <p>Come back here after you've put some sweat time in!</p>
            </div>
        </div>

 		<ion-list can-swipe="true" delegate-handle="logs">
 			<ion-item ng-repeat="workoutLog in data.d | filter:{ workoutId : workoutId }" ng-click="viewWorkoutLog(workoutLog)" class="item-icon-right">
 				<h2>
                    <b>{{workoutLog.date}}:</b> {{workoutLog.name}}
			    </h2>
			    <p>{{workoutLog.exercises.length}} exercises</p>
 			</ion-item>
            <ion-item ng-if="!data.fbLogsLoaded">
                <h2>Loading Workout Logs</h2>
            </ion-item>
 		</ion-list>

 	</ion-content>
</ion-view>
