 <ion-view view-title="Logs">

     <ion-nav-bar class="bar-balanced">
         <ion-nav-back-button></ion-nav-back-button>
     </ion-nav-bar>

   <ion-nav-buttons>
     <!--<button class="button button-clear icon icon-right ion-ios-close-outline" ng-click="signout()"></button>-->
   </ion-nav-buttons>


   <ion-nav-buttons side="secondary">
		<!--<button class="button button-clear icon icon-right ion-ios-cloud-upload-outline" ng-click="save()"></button>-->
  </ion-nav-buttons>

 	<ion-content>

 		<div class="calm">
			<!--<button class="button button-calm button-clear icon icon-right ion-plus" ng-click="showAddNew($event)"></button>
			<button class="button button-calm button-clear icon icon-right ion-shuffle" ng-click="showReorder = !showReorder"></button>
            <button class="button button-calm button-clear icon icon-right ion-ios-list" ng-click="showLogs()"></button>
            <button class="button button-calm button-clear icon icon-right ion-help" ng-click="showHelp()"></button>-->
		</div>

 		<ion-list can-swipe="true" delegate-handle="logs">
 			<ion-item ng-repeat="workoutLog in data.d" ng-click="viewWorkoutLog(workoutLog)" class="item-icon-right">
 				<h2>
		    	{{workoutLog.name}}
			    </h2>
			    <p>{{workoutLog.sets.length}} sets</p>

			   	<i class="button button-icon icon ion-chevron-left" style="opacity : 0.1;"></i>

			    <ion-option-button class="button-assertive" ng-click="deleteLog(workoutLog)">
			      Delete
			    </ion-option-button>
 			</ion-item>
 		</ion-list>

 	</ion-content>
</ion-view>
