<ion-view view-title="Set">

    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

	<ion-nav-buttons side="secondary">
		<button class="button button-clear icon icon-right ion-ios-cloud-upload-outline" ng-click="save()"></button>
  </ion-nav-buttons>

 	<ion-content>

    <ion-list can-swipe="set.isCircuit" delegate-handle="setExercise">

      <span ng-if="!set.isCircuit">
        <ion-item class="item item-calm">
          <h2>{{exercise.name}}</h2>
          <p ng-if="set.repsOrTime == 'reps'">
            <span>{{set.reps}} reps</span>
            <span ng-if="set.wieght > 0"> X <span ng-if="set.units != 'bodyweight'">{{set.wieght}}</span> {{set.units}}</span>
          </p>
          <p ng-if="set.repsOrTime == 'time'">
            <span>{{set.time}} {{set.timeSecondsOrMinutes}}</span>
            <span ng-if="set.wieght > 0"> @ <span ng-if="set.units != 'bodyweight'">{{set.wieght}}</span> {{set.units}}</span>
          </p>
        </ion-item>
      </span>

      <span ng-if="set.isCircuit && !set.circuitExercise.name">
        <div class="item item-divider">
          Circuit Exercise
        </div>


        <div class="item item-text-wrap">
          This set is part of a circuit or super set. Please select the exercise for this set.
        </div>

        <button class="item button button-block button-balanced" ng-click="selectCircuitExercise(set)">
          Select Exercise
        </button>
      </span>

      <ion-item class="item item-icon-right" ng-if="set.isCircuit && set.circuitExercise.name">
        <h2>{{set.circuitExercise.name}}</h2>

        <i class="button button-icon icon ion-chevron-left" style="opacity : 0.1;"></i>

        <ion-option-button class="button-positive" ng-click="selectCircuitExercise(set)">
          Select Exercise
        </ion-option-button>
      </ion-item>

    </ion-list>

    <span ng-if="!set.isCircuit || set.isCircuit && set.circuitExercise.name">

      <div class="list card">
        <div class="item item-divider item-calm">
          Measured
        </div>

        <div class="item item-text-wrap">
          Sets can be measured in Reps or in Time
        </div>
        <div class="button-bar">
          <a class="button" ng-click="set.repsOrTime = 'reps'" ng-class="(set.repsOrTime == 'reps' ? 'button-balanced' : 'button-stable' )">Reps</a>
          <a class="button" ng-click="set.repsOrTime = 'time'; set.timeSecondsOrMinutes = (set.timeSecondsOrMinutes ? set.timeSecondsOrMinutes : 'seconds')" ng-class="(set.repsOrTime == 'time' ? 'button-balanced' : 'button-stable' )">Time</a>
        </div>
   		</div>

      <div ng-if="set.repsOrTime == 'reps'" class="list card">
        <label class="item item-input item-select item-calm">
          <div class="input-label">
            Reps
          </div>
          <select ng-model="set.reps" ng-options="val for val in repsRange"></select>
        </label>
      </div>


      <div class="list card" ng-if="set.repsOrTime == 'time'">
        <div class="item item-divider item-calm">
          Time
        </div>

        <div class="item item-text-wrap">
          Time can be measured in Seconds or Minutes
        </div>

        <div class="button-bar">
          <a class="button" ng-click="set.timeSecondsOrMinutes = 'seconds'" ng-class="(set.timeSecondsOrMinutes == 'seconds' ? 'button-balanced' : 'button-stable' )">Seconds</a>
          <a class="button" ng-click="set.timeSecondsOrMinutes = 'minutes'" ng-class="(set.timeSecondsOrMinutes == 'minutes' ? 'button-balanced' : 'button-stable' )">Minutes</a>
        </div>

        <label class="item item-input item-select" ng-if="set.timeSecondsOrMinutes == 'seconds'">
          <div class="input-label">
              Time (m:ss)
          </div>
          <select ng-model="set.time" ng-options="renderTime(val) for val in secondsRange"></select>
        </label>

        <label class="item item-input item-select" ng-if="set.timeSecondsOrMinutes == 'minutes'">
          <div class="input-label">
              Time (h:mm)
          </div>
          <select ng-model="set.time" ng-options="renderHoursMinutes(val) for val in minutesRange"></select>
        </label>
      </div>

      <div class="list card">
          <div class="item item-divider item-calm">
            Weight Unit
          </div>

          <div class="button-bar">
            <a class="button" ng-click="set.units = 'lbs'" ng-class="(set.units == 'lbs' ? 'button-balanced' : 'button-stable' )">lb</a>
            <a class="button" ng-click="set.units = 'kgs'" ng-class="(set.units == 'kgs' ? 'button-balanced' : 'button-stable' )">kg</a>
          </div>
          <div class="button-bar">
            <a class="button" ng-click="set.units = 'plate'" ng-class="(set.units == 'plate' ? 'button-balanced' : 'button-stable' )">plate</a>
            <a class="button" ng-click="set.units = 'bodyweight'" ng-class="(set.units == 'bodyweight' ? 'button-balanced' : 'button-stable' )">body weight</a>
          </div>

          <label class="item item-input item-select" ng-hide="set.units == 'bodyweight'">
            <div class="input-label">
                Weight Amount
            </div>
            <select ng-model="set.wieght" ng-options="val for val in weightRange"></select>
          </label>
      </div>

      <div class="list card">
        <div class="item item-divider item-calm">
          Rest
        </div>

        <label class="item item-input item-select">
          <div class="input-label">
              Rest (m:ss)
          </div>
          <select ng-model="set.rest" ng-options="renderTime(val) for val in restRange"></select>
        </label>
      </div>
    </span>
 	</ion-content>

</ion-view>
