 <ion-view view-title="Workout Log">

     <ion-nav-bar class="bar-balanced">
         <ion-nav-back-button></ion-nav-back-button>
     </ion-nav-bar>

   <ion-nav-buttons>
     <!--<button class="button button-clear icon icon-right ion-ios-close-outline" ng-click="signout()"></button>-->
   </ion-nav-buttons>


   <ion-nav-buttons side="secondary">

  </ion-nav-buttons>

 	<ion-content>

        <ul>
            <li class="item item-calm">
                <h2><b>{{workoutLog.date}}:</b> {{workoutLog.name}}</h2>
                <p>{{workoutLog.exercises.length}} exercises</p>
            </li>
        </ul>

 		<div class="calm">
			<!--<button class="button button-calm button-clear icon icon-right ion-code-download" ng-click="download(workoutLog)"></button>-->
            <button class="button button-calm button-clear icon icon-right ion-help" ng-click="showHelp()"></button>
		</div>

 		<ion-list can-swipe="true" delegate-handle="workoutlog">
 			<ion-item ng-repeat="exercise in workoutLog.exercises" class="item-icon-right">
 				<h2>
		    	{{exercise.name}}
			    </h2>
                <p ng-if="exercise.isReps">{{exercise.peformedReps}} Reps X {{exercise.weightText}}</p>
                <p ng-if="!exercise.isReps">{{exercise.performedTime}} {{exercise.secondsOrMinutes}} X {{exercise.weightText}}</p>
 			</ion-item>
 		</ion-list>

 	</ion-content>
</ion-view>
