<ion-view view-title="Workout Days">

    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

	<ion-nav-buttons side="secondary">
		<button class="button button-clear icon icon-right ion-ios-cloud-upload-outline" ng-click="save()"></button>
    </ion-nav-buttons>
 	<ion-content>

 		<ul>
		    <li class="item item-calm">
		      {{workout.name}}
		    </li>
		</ul>
        <div class="calm">
            <button class="button button-calm button-clear icon icon-right ion-plus-round" ng-click="showAddNew(workout)"></button>
            <button class="button button-calm button-clear icon icon-right ion-shuffle" ng-click="showReorder = !showReorder"></button>
            <button class="button button-calm button-clear icon icon-right ion-help" ng-click="showHelp()"></button>
        </div>

		<ion-list can-swipe="true" delegate-handle="days" show-reorder="showReorder">
 			<ion-item class="item-icon-left item-icon-right" ng-repeat="day in workout.days" ng-click="gotoDay({day : day, days : workout.days})">
 				<i class="icon ion-android-done" ng-class="{ balanced : day == dataService.chosenDay }" ng-click="chooseDay(day); $event.stopPropagation();"></i>
 				<h2>
		    		{{day.name}}
			    </h2>
			    <p ng-if="day.exercises.length == 0">Add some Exercises</p>
			    <p ng-if="day.exercises.length != 0">{{day.exercises.length}} Exercises</p>

			    <i class="button button-icon icon ion-chevron-left" style="opacity : 0.1;"></i>

			    <ion-option-button class="button-positive" ng-click="editDayName(day)">
			      Rename
			    </ion-option-button>
			    <ion-option-button class="button-assertive" ng-click="deleteDay(workout, day)">
			      Delete
			    </ion-option-button>
			    <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(workout.days, $fromIndex, $toIndex)"></ion-reorder-button>
 			</ion-item>
 		</ion-list>
 	</ion-content>

</ion-view>
