 <ion-view view-title="Routines">

     <ion-nav-bar class="bar-balanced">
     </ion-nav-bar>

   <ion-nav-buttons>
     <button class="button button-clear icon icon-right ion-ios-close-outline" ng-click="signout()"></button>
   </ion-nav-buttons>


   <ion-nav-buttons side="secondary">
		<button class="button button-clear icon icon-right ion-ios-cloud-upload-outline" ng-click="save()"></button>
  </ion-nav-buttons>

 	<ion-content>

 		<div class="calm">
			<button class="button button-calm button-clear icon icon-right ion-plus" ng-click="showAddNew($event)"></button>
			<button class="button button-calm button-clear icon icon-right ion-shuffle" ng-click="showReorder = !showReorder"></button>
            <button class="button button-calm button-clear icon icon-right ion-help" ng-click="showHelp()"></button>
		</div>

 		<ion-list can-swipe="true" delegate-handle="workouts" show-reorder="showReorder">
 			<ion-item ng-repeat="workout in data.d.workouts" ng-click="gotoWorkout({workout : workout, workouts : workouts})" class="item-icon-right">
 				<h2>
		    	{{workout.name}}
			    </h2>
			    <p ng-if="workout.days.length == 0">Add some days</p>
			    <p ng-if="workout.days.length != 0">{{workout.days.length}} days</p>

			   	<i class="button button-icon icon ion-chevron-left" style="opacity : 0.1;"></i>

			    <ion-option-button class="button-positive" ng-click="editWorkoutName(workout)">
			      Rename
			    </ion-option-button>
			    <ion-option-button class="button-assertive" ng-click="deleteWorkout(workout)">
			      Delete
			    </ion-option-button>
			    <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(data.d.workouts, $fromIndex, $toIndex)"></ion-reorder-button>
 			</ion-item>
 		</ion-list>

 	</ion-content>
</ion-view>
